h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  font-family:'Courier New', Courier, monospace;
}

body {
  background-color: lightcoral;
}

.center h2 {
  text-align: center;
}

.leftcolumn p {
  width: 300px;
  float: left;
}

.centercolumn p {
  width: 300px;
  float: center;
}